.Find{
  position: relative;
  top: 64px;
  height: 1000px;
  width: 100%;
  z-index: 1;
}
.findNav{
  text-align: center;
}

.findNav li {
  position: relative;
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}
.findNav li a {
  height: 64px;
  line-height: 64px;
  display: inline-block;
  padding: 0px 40px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  letter-spacing: 0px;

}